SwiftGif/.DS_Store
SwiftGif/SwiftGif.xcodeproj/project.xcworkspace/xcuserdata/
SwiftGif/SwiftGif.xcodeproj/xcuserdata/mhseiden.xcuserdatad/xcschemes/SwiftGif.xcscheme
SwiftGif/SwiftGif.xcodeproj/xcuserdata/TsC.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
SwiftGif/SwiftGif.xcodeproj/project.xcworkspace/xcuserdata/TsC.xcuserdatad/UserInterfaceState.xcuserstate
